@import url("https://fonts.googleapis.com/css?family=Montserrat|Oswald");
body {
  background: #f7f7f7;
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
  line-height: 2rem;
  letter-spacing: 0.2px; }
  body h3, body h2 {
    font-family: "Oswald", sans-serif; }
  body p {
    font-family: "Montserrat", sans-serif; }
  body button {
    cursor: pointer; }
  body i {
    margin-right: 8px; }

.wrapper .container:nth-child(2) {
  margin-top: 30px; }

.post-view-comment, .post-view-post, .post-form, .user-form {
  margin-top: 50px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px 0px #a3a3a3;
          box-shadow: 1px 1px 5px 0px #a3a3a3; }

.bottom-button button {
  margin-top: 10px; }

.form-error {
  color: #640202;
  font-size: 0.8rem;
  font-weight: 500;
  margin-left: 8px; }

.error-message {
  font-size: 1rem;
  color: #640202; }

.loader {
  text-align: center; }

/*********************************
		Navbar component 
**********************************/
.navbar {
  background: #ebebeb;
  font-size: 1.2rem;
  font-family: "Oswald", sans-serif; }
  .navbar .logout-btn {
    border: none;
    background: transparent;
    font-family: "Oswald", sans-serif; }

/*********************************
			Post Component 
**********************************/
.post {
  position: relative;
  background: #fff;
  border-radius: 5px;
  height: 200px;
  margin: 20px auto;
  border: 1px solid rgba(0, 0, 0, 0.125); }
  .post .post-title {
    font-size: 1.8rem;
    font-family: "Oswald", sans-serif;
    color: #000;
    margin-top: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-bottom: 5px; }
  .post .post-content {
    margin-top: 10px;
    margin-bottom: 10px; }
  .post .post-info {
    position: absolute;
    bottom: 15px;
    left: 20px; }

.load-more-btn {
  margin: 30px 0; }

/*********************************
		PostView Component 
**********************************/
.post-view-post .post-detail p {
  margin-top: 20px; }

.post-view-post .post-title {
  margin-top: 20px;
  margin-bottom: 15px; }

.post-view-post .post-creation-time, .post-view-post .post-creator {
  font-size: 1rem;
  margin-left: 10px;
  font-family: "Oswald", sans-serif; }

.comments {
  margin-top: 40px; }
  .comments .comment {
    font-size: 1rem;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.085); }
  .comments .comment-user {
    font-weight: bold; }
  .comments .comment-user span {
    font-weight: normal;
    font-size: 0.8rem;
    margin-left: 5px; }

/*********************************
		PostForm Component 
**********************************/
.post-form .top-buttons a {
  margin-right: 10px; }

/*********************************
		PostIndex Page
**********************************/
.pagination {
  margin: 30px 0; }
  .pagination li:not(.disabled) {
    cursor: pointer; }
